@if (EmployeesData != null && EmployeesData.Any()@* && SecretSantaEmployeesData == null*@)
{
    <div>
        <h3>Employee Details</h3>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Entity</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var employee in EmployeesData)
                {
                    <tr>
                        <td>@employee.ID</td>
                        <td>@employee.Entity</td>
                        <td>@employee.Name</td>
                        <td>@employee.Email</td>
                        <td>@employee.Department</td>
                        <td>

                            <div class="button-container">
                                <button class="btn sm" @onclick="(()=>DeleteEmployee(employee.ID))">
                                    <i class="fas fa-trash-alt"></i>
                                </button>

                                <button class="btn sm" @onclick="(()=>EditEmployee(employee))">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
<!-- Add this line to your HTML file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-ez9FXH5Y3bBiyrV7kxIepFiTVZPmT5f/kW6jxXGmTPIv4jC4g4XJGcY/EAtGJpMe" crossorigin="anonymous">
<style>
    .button-container {
        display: flex; /* or display: grid; */
        gap: 3px; /* Adjust the gap as needed */
    }
</style>

