@page "/revealSecretSanta"
@attribute [Authorize(Roles = "Administrator")]
@inject AuthenticationStateProvider _authStateProvider;

<h2 style="color:Red">Secret Santa</h2>
<hr />

<table>
    <tr>
        <td>
            <label class="form-label" for="entityDropdown">Entity :</label>

        </td>
        <td>
            <select class="form-control" id="entityDropdown" @bind="selectedEntity" required>
                <option value="">-- Select Entity --</option>
                @if (entities != null && entities.Any())
                {
                    @foreach (var entity in entities)
                    {
                        <option value="@entity.Id">@entity.Name</option>
                    }
                }

            </select>
        </td>
        <td>
            @if (buttonClicked && string.IsNullOrEmpty(selectedEntity))
            {
                <p style="color:red">Please select an entity.</p>
            }
        </td>
    </tr>
    <tr>
        <td>
            <label class="form-label" for="locationDropdown">Location :</label>

        </td>
        <td>
            <select class="form-control" id="locationDropdown" @bind="selectedLocation">
                <option value="">-- Select Location --</option>
                @foreach (var location in locations)
                {
                    <option value="@location.Name">@location.Name</option>
                }
            </select>
        </td>
        <td>
            @if (buttonClicked && string.IsNullOrEmpty(selectedLocation))
            {
                <p style="color:red">Please select a location.</p>
            }
        </td>
    </tr>
    <tr>
        <td>
            <label class="form-label" for="yearDropdown">Year :</label>
        </td>
        <td>
            <select class="form-control" id="yearDropdown" @bind="selectedYear">
                <option value="">-- Select Year --</option>
                @foreach (var year in AvailableYears)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </td>
        <td>
            @if (buttonClicked && string.IsNullOrEmpty(selectedYear))
            {
                <p style="color:red">Please select a year.</p>
            }
        </td>
    </tr>

    <tr>
        <td>
            <button type="submit" class="btn btn-primary" @onclick="GetSantaFilteredData">Search</button>

        </td>
    </tr>
</table>

           
        

       
       
   
@*<button type="button" class="btn btn-primary" @onclick="GetSecretSantaEmployeeDataFromServer">Reveal Secret Santa Data</button>
*@  @if (ErrorMessage != "")
{
    <p>@ErrorMessage</p>
}
@if (noDataMessage != "")
{
    <h3 style="color:coral">@noDataMessage</h3>
}
@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <label style="color:green">@SuccessMessage</label>
    <br />

}

<br />



@if (SecretSantaEmployeesData != null && SecretSantaEmployeesData.Any())
{
    @if (@currentYear != 0)
    {
        <h4 style="display:inline-block;color:blue">Secret Santa Details</h4>
        <h4 style="color:coral;display:inline-block">(@currentYear)</h4>
    }  
    @if (currentYear == DateTime.Now.Year)
    {
        <button disabled="@SendEmailButtonDisabled" type="button" class="btn btn-primary" @onclick="SendEmailsToEmployees">Send Emails to Employees</button>

    }


    
    <div>
       
        <table class="table">
            <thead>
                <tr>
                    <th>EmployeeID</th>
                    @*  <th>Entity</th>*@
                    <th>Name</th>
                    <th>Email</th>
                    @*                    <th>Department</th>
                *@
                    <th>Santa Emp ID</th>
                    @*                    <th>Santa Emp Entity</th>
                *@
                    <th>Santa Emp Name</th>
                    <th>Santa Emp Email</th>
                    @*                    <th>Santa Emp Dept</th>
                *@
                    <th>Email Sent</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var secretSantaEmployee in SecretSantaEmployeesData)
                {
                    <tr>
                        <td>@secretSantaEmployee.ID</td>
                        @*                        <td>@secretSantaEmployee.Entity</td>
                *@
                        <td>@secretSantaEmployee.Name</td>
                        <td>@secretSantaEmployee.Email</td>
                        @*                        <td>@secretSantaEmployee.Department</td>
                *@
                        <td>@secretSantaEmployee.SecretSantaEmployeeId</td>
                        @*                        <td>@secretSantaEmployee.SecretSantaEmployeeEntity</td>
                *@
                        <td>@secretSantaEmployee.SecretSantaEmployeeName</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeEmail</td>
                        @*                        <td>@secretSantaEmployee.SecretSantaEmployeeDepartment</td>
                *@
                        <td>@secretSantaEmployee.EmailSent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


