@page "/secretsanta"
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Administrator")]
@inject AuthenticationStateProvider _authStateProvider;

<PageTitle >Secret Santa - Adira</PageTitle>
<h2 style="color:Red">Secret Santa</h2>






@*<div>
    <br />
    <button class="btn btn-primary" @onclick="ShowPopup">Allocate Secret Santa</button>
</div>*@


@*<!-- Popup Component -->
<div class="modal-overlay" style="display: @(isPopupVisible ? "flex" : "none");">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Please Select Entity and Location</h3>
            <button class="btn-close" @onclick="ClosePopup">×</button>
        </div>
        <div class="modal-body">
       *@    
            <div>
                <hr />
          
                <table>
                    <tr>
                        <td>
                <label class="form-label" for="entityDropdown">Entity :</label>

            </td>
            <td>
                <select class="form-control" id="entityDropdown" @bind="selectedEntity" required>
                    <option value="">-- Select Entity --</option>
                    @if (entities != null && entities.Any())
                    {
                        @foreach (var entity in entities)
                        {
                            <option value="@entity.Id">@entity.Name</option>
                        }
                    }

                </select>
            </td>
            <td>
                @if (buttonClicked && string.IsNullOrEmpty(selectedEntity))
                {
                    <p style="color:red">Please select an entity.</p>
                }
            </td>
                    </tr>
                    <tr>
                        <td>
                <label class="form-label" for="locationDropdown">Location :</label>

            </td>
                 <td>
                <select class="form-control" id="locationDropdown" @bind="selectedLocation">
                    <option value="">-- Select Location --</option>
                    @foreach (var location in locations)
                    {
                        <option value="@location.Name">@location.Name</option>
                    }
                </select>
            </td>
            <td>
                @if (buttonClicked && string.IsNullOrEmpty(selectedLocation))
                {
                    <p style="color:red">Please select a location.</p>
                }
            </td>
                    </tr>
                    <tr>
                        <td>
                <button type="submit" class="btn btn-primary" @onclick="RunSecretSantaAllocation">Allocate Secret Santa</button>

                       </td>
                    </tr>
                </table>
              
              
            </div>
          <br />
          
            <!-- Your file input and other elements can go here -->
          @*  @if (isLoading)
            {
                <p>Uploading...</p>
            }
            @if (isSuccess)
            {
                <p style="color:green">File Uploaded Successfully...</p>
            }*@
            @if (ErrorMessage != "")
            {
                <p>@ErrorMessage</p>
            }
            @if (!string.IsNullOrWhiteSpace(SuccessMessage))
            {
                <label style="color:green">@SuccessMessage</label>
                <br />

            }
@*<button disabled="@SendEmailButtonDisabled" type="button" class="btn btn-primary" @onclick="SendEmailsToEmployees">Send Emails to Employees</button>
*@
       @* </div>
    </div>
</div>
*@



@*<br />
<br />
<br />
<br />
<br />
*@

@if (ShowSantaPasswordInput)
{
    <br/>
    <input placeholder="Enter Password" type="text" @bind="@SantaDataPassword"/>
    <button type="button" class="btn btn-primary" @onclick="GetSecretSantaEmployeeDataFromServer">Submit</button>
    <br/>
}

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <label style="color:red">@ErrorMessage</label>
}


<br />



@if (SecretSantaEmployeesData != null && SecretSantaEmployeesData.Any())
{
    <hr/>
    <div>
        <h3>Secret Santa Details</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>EmployeeID</th>
                  @*  <th>Entity</th>*@
                    <th>Name</th>
                    <th>Email</th>
@*                    <th>Department</th>
*@                    <th>Santa Emp ID</th>
@*                    <th>Santa Emp Entity</th>
*@                    <th>Santa Emp Name</th>
                    <th>Santa Emp Email</th>
@*                    <th>Santa Emp Dept</th>
*@                    <th>Email Sent</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var secretSantaEmployee in SecretSantaEmployeesData)
                {
                    <tr>
                        <td>@secretSantaEmployee.ID</td>
@*                        <td>@secretSantaEmployee.Entity</td>
*@                        <td>@secretSantaEmployee.Name</td>
                        <td>@secretSantaEmployee.Email</td>
@*                        <td>@secretSantaEmployee.Department</td>
*@                        <td>@secretSantaEmployee.SecretSantaEmployeeId</td>
@*                        <td>@secretSantaEmployee.SecretSantaEmployeeEntity</td>
*@                        <td>@secretSantaEmployee.SecretSantaEmployeeName</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeEmail</td>
@*                        <td>@secretSantaEmployee.SecretSantaEmployeeDepartment</td>
*@                        <td>@secretSantaEmployee.EmailSent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
