@page "/secretsanta"
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Administrator")]



<PageTitle>Secret Santa - Adira</PageTitle>

<h3>Secret Santa</h3>


<button type="button" class="btn btn-primary" @onclick="RunSecretSantaAllocation">Allocate Secret Santa</button>
<button type="button" class="btn btn-primary" @onclick="GetPasswordFieldForSecretSantaEmployeeData">Reveal Secret Santa Alloted Data</button>
<button disabled="@SendEmailButtonDisabled" type="button" class="btn btn-primary" @onclick="SendEmailsToEmployees">Send Emails to Employees</button>
<br />

@if (ShowSantaPasswordInput)
{
    <br/>
    <input placeholder="Enter Password" type="text" @bind="@SantaDataPassword"/>
    <button type="button" class="btn btn-primary" @onclick="GetSecretSantaEmployeeDataFromServer">Submit</button>
    <br/>
}

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <label style="color:red">@ErrorMessage</label>
}

@if (!string.IsNullOrWhiteSpace(SuccessMessage))
{
    <label style="color:green">@SuccessMessage</label>
}

<br />



@if (SecretSantaEmployeesData != null && SecretSantaEmployeesData.Any())
{
    <hr/>
    <div>
        <h3>Secret Santa Details</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Entity</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Santa Emp ID</th>
                    <th>Santa Emp Entity</th>
                    <th>Santa Emp Name</th>
                    <th>Santa Emp Email</th>
                    <th>Santa Emp Dept</th>
                    <th>Email Sent</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var secretSantaEmployee in SecretSantaEmployeesData)
                {
                    <tr>
                        <td>@secretSantaEmployee.ID</td>
                        <td>@secretSantaEmployee.Entity</td>
                        <td>@secretSantaEmployee.Name</td>
                        <td>@secretSantaEmployee.Email</td>
                        <td>@secretSantaEmployee.Department</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeId</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeEntity</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeName</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeEmail</td>
                        <td>@secretSantaEmployee.SecretSantaEmployeeDepartment</td>
                        <td>@secretSantaEmployee.EmailSent</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}